{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
    <div class="container">
        <h1>About Diary App</h1>
        <p> <img style="width: 70px; height: 70px;" src="{% static 'images/alex_image.jpg' %}" alt="image of alex" width="350px" height="350px"> Hi. My name is Alex Ainoko Idachaba, a Python Web Developer. This Diary App is a portfolio project created by me for demo purpose only, and should not be used as a real diary app. This is an online diary where you can sign up, add , update ,search, and delete your entries. In addition, you can see the dates your diary entries were added. Please feel free to try it out. </p>
    </div>
{% endblock content %}